<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>SK U-타워 구내식당</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body class="p-3">
  <h1>SK U-타워 구내식당</h1>
  <ul class="nav nav-tabs mt-4">
    <% for (let i=0; i<5; i++){ %>
    <li class="nav-item">
      <a class="nav-link <%= i === weekdayToday ? 'active' : '' %>"><%= datearr[i] %> (<%= weekdayString[i]%>)</a>
    </li>
    <% } %>
  </ul>
</body>
</html>