<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SK U-νƒ€μ› κµ¬λ‚΄μ‹λ‹Ή</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/style.css">
</head>
<body>
  <!-- μƒλ‹¨λ¶€ -->
  <div class="upper">
    <div class="px-5 text-center py-3">
      <h2 class="m-0">SK U-νƒ€μ› κµ¬λ‚΄μ‹λ‹Ή</h1>
    </div>
    <ul class="nav nav-tabs px-5 justify-content-center">
      <% for (let i=0; i<5; i++){ %>
        <li class="nav-item">
          <a class="nav-link <%= i === date.weekdayToday ? 'active' : '' %>"><%= date.dateString[i] %> (<%= date.weekdayString[i]%>)</a>
        </li>
      <% } %>
    </ul>
  </div>

  <!-- ν•λ‹¨λ¶€ -->
  <% if (date.weekdayToday === -1 || date.weekdayToday === 5) { %>
    <div class="text-center p-5">
      <span style="font-size: 100px;">
        π­
      </span>
      <h2>μ¤λμ€ μ£Όλ§μ΄μ—μ”</h2>
    </div>
  <% } else { %>
  <div class="lower px-5 pt-3 row">
    <div class="left col-2">
      <button type="button" class="btn btn-outline-secondary select-type mb-2" data-type="breakfast">μ•„μΉ¨</button>
      <button type="button" class="btn btn-outline-secondary select-type mb-2" data-type="lunch">μ μ‹¬</button>
      <button type="button" class="btn btn-outline-secondary select-type mb-2" data-type="dinner">μ €λ…</button>
    </div>
    <div class="right col-10">
    </div>
  </div>
  <% } %>
  <script src="./static/script.js"></script>
</body>
</html>