.upper {
  background-color: #eee;
}
.lower {
}
.nav-item .nav-link {
  padding: 0.3rem 0.7rem;
}
.nav-item .nav-link:hover:not(.active) {
  background-color: #f9f9f9;
}
.btn {
  box-shadow: none!important;
}
.nav-item > a {
  color: inherit;
  text-decoration: none;
}